.bottom-nav {
  background-color: #2A324B;
  z-index: 10;
  position: fixed;
  bottom: 0;
  height: 48px;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.bottom-nav .title {
  color: #ffffff;
  font-size: 32px;
  position: relative;
  top: 4px;
  left: 8px;
}
