.bottom-nav {
  background-color: #2A324B;
  z-index: 10;
  position: fixed;
  bottom: 0;
  height: 64px;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  display: flex;
}

.bottom-nav .item a {
  color: #ffffff;
  font-size: 32px;
  padding: 4px;
}

.bottom-nav .item {
  padding-top: 8px;
  text-align: center;
  flex-grow: 1;
}

.bottom-nav .item.large {
  flex-grow: 2;
}

.bottom-nav .item .line {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: #222;
}

.bottom-nav .item .line.selected {
  background-color: #bbb;
}

.bottom-nav .item:hover .line {
  background-color: #fff;
}
