.create-contiainer {
  position: fixed;
  bottom: 64px;
  right: 24px;
}

.button {
  width: 64px;
  height: 64px;
  border-radius: 32px;
  background-color: #ffffff;
  box-shadow: 4px 4px 8px 4px rgba(0,0,0,0.25);
  z-index: 20;
}

.button .icon {
  position: relative;
  font-size: 64px;
  top: -12px;
  left: 12px;
}
