.card-container {
  padding-left: 25%;
  padding-right: 25%;
}

/* Phone landscape */
@media (max-width:992px) {
  .card-container {
    padding-left: 15%;
    padding-right: 15%;
  }
}

/* Phone portrate */
@media (max-width:576px) {
  .card-container {
    padding-left: 5%;
    padding-right: 5%;
  }
}
